.main{
    max-width:1200px;
    margin:30px auto;
    padding:0 10px;
    text-align: center;
}
.title{
    font-size:30px;
    margin-bottom:0!important;
}
.subtitle{
    margin-top:0!important;
    margin-bottom:0!important;
    font-size:15px;
    font-weight:100;
}
.table-domain{
    margin-top: 20px!important;
}
.footer{
    margin-top:20px;
}